@use "main" as *; 

.w-120px {
    width: 120px;
}

.has-icon {
    position: relative;
    .on-left {
        position: absolute;
        left: 8px;
        top: 10px;
        font-size: 20px;
        color: $text-color-secondary;
    }

    input {
        padding: 10px 16px 10px 32px;
    }
}

.w-170px {
    width: 170px;
}

.table .box-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table .box-32 {
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    border-radius: 4px;
    .material-symbols-outlined {
        padding: 0;
        margin: 0;
        font-size: 16px;
    }
}

.dt-paging {
    nav {
        ul {
            display: flex;
            gap: 4px;
            justify-content: end;
            .dt-paging-button {
                width: 32px;
                aspect-ratio: 1;
                background-color: $primary-white;
                border: $border;
                font-size: 14px;
                border-radius: 4px;
                &:hover {
                    background: $text-color-secondary;
                    color: $primary-white;
                }
            }
            .dt-paging-button {
                width: 32px;
                aspect-ratio: 1;
                background-color: $primary-white;
                border: $border;
                font-size: 14px;
                border-radius: 4px;
            }
            .dt-paging-button.active {
                color: $primary-white;
                background-color: $primary-color;
            }
            .dt-paging-button.disabled {
                cursor: not-allowed;
                &:hover {
                    background: var(--bs-danger-light);
                    color: var(--bs-danger-light);
                }
            }
        }
    }
}

.dt-length {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    select {
        width: fit-content;
    }
}

.dt-search {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
}

.dt-orderable-asc.dt-orderable-desc.dt-ordering-asc {
    display: flex;
}

.dt-orderable-asc.dt-orderable-desc.dt-ordering-desc {
    display: flex;
}

.table {
    thead {
        tr {
            th {
                text-wrap: nowrap;
                span {
                    text-wrap: nowrap;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: $text-color-secondary;
                    font-weight: 600;
                    vertical-align: middle;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px;
                line-height: 24px;
                color: $text-color;
                vertical-align: middle;
            }
        }
    }
}

.table {
    margin-top: 20px !important;
}

.w-fc {
    width: fit-content !important;
}

.menu-arrow {
    transition: transform 0.3s ease;
}
.rotate-90 {
    transform: rotate(90deg);
}
.submenu {
    transition: all 0.3s ease;
}

.coveragelogo-media {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 4px;
}

.img_preview {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
}

.box-32 {
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    border-radius: 4px;
    .material-symbols-outlined {
        font-size: 20px;
    }
}

.flex-box {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.menu-item-row {
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.menu-item-row:not(.fade-in-scale):not(.fade-out) {
    opacity: 1;
    transform: scale(1);
}

/* Initial state for new items */
.menu-item-row.fade-in-scale {
    animation: fadeInScale 0.3s ease-in-out forwards;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95); /* Start slightly smaller */
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.productimg {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 16px;
}

.ad-section {
    transition:
        opacity 0.3s ease-in-out,
        max-height 0.3s ease-in-out;
    overflow: hidden;
}

.ad-section.hide {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.ad-section.show {
    opacity: 1;
    max-height: 500px;
}

.transition-toggle {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.transition-toggle.show {
    max-height: 1500px;
    opacity: 1;
    margin-top: 1rem;
}

.transition-toggle.hide {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
}

.left-right-tab{
    .nav{
        .nav-item{
            .nav-link{
                color: $text-color-secondary;
            }
            .nav-link.active{
                background-color: $sidebar-color;
                color: $text-color;
                border: 1px dashed $text-color;
                font-weight: 500;
            }
        }
    }
}

.transition-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.transition-toggle.show {
    max-height: 300px; 
    opacity: 1;
}

.transition-toggle.hide {
    max-height: 0;
    opacity: 0;
}
